<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="InetBankingV1" parallel = "tests">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<groups>  
         <run>  
            <include name="smoke"/>  
         </run>  
      </groups>
		
		<classes>
			<class name="com.inetbanking.testCases.TC_LoginTest_001" /> 
			<class name="com.inetbanking.testCases.TC_AddCustomerDDT" /> 
			<class name="com.inetbanking.testCases.TC_LoginDDT_002" /> 
			<class name="com.inetbanking.testCases.TC_AddCustomerTest_003" /> 
			<class name="com.inetbanking.testCases.TC_Operations" /> 
			<class name="com.inetbanking.testCases.TC_CheckboxOperations" /> 

		</classes>

	</test>

</suite>